.container-timeline
{
    padding-left: 200px;
    padding-right: 160px;
}
.timeline-profile
{
    img{
        margin-right:8px;
    }
}

.panel-footer{
    padding:5px 10px;
}
.h5bold{
    font-weight:bold;
}
